.container__cart {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 75%;
  margin: 0 auto;
}

.cart__body {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 2vh;
}

.container__cartImgAndName {
  display: flex;
  flex-direction: row;
  width: 400px;
}

.container__cartImg {
  margin-right: 2vh;
}

.cart__img {
  width: 100px;
}

.container__cartName {
  margin: auto 0;
  margin-right: 2vh;
}

.cart__name {
  margin: auto 0;
}

.container__cartPrice {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2vh;
}

.cart__price {
  margin: auto 0;
}

.container__quantityAndRemoveItem {
  display: flex;
  flex-direction: row;
}

.container__cartQuantity {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2vh;
}

.cart__quantity {
  margin: auto 0;
}

.container__cartRemoveItem {
  margin-top: auto;
  margin-bottom: auto;
}

.cart__removeItem {
  margin: auto 0;
}

.container__cartBuy {
  display: flex;
  flex-direction: column;
  padding-left: 0.5vh;
  padding-right: 0.5vh;
  width: 33.33333333%;
  margin-top: auto;
  justify-content: center;
}

.cartBuy {
  width: 8vh;
  height: 4vh;
  border: 1px solid $dark-color;
  border-radius: 0.25rem;
  line-height: 1.5;
  background-color: $primary-dark-color;
  color: $light-color;
  font-size: $-fs-19;
  margin-left: auto;
}