.container-shop {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 1vh;
  flex-wrap: wrap;
}

.card__text {
  width: 100%;
}

.container-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  display: flex;
  min-width: max-content;
  width: 33%;
  padding: 1vh;
  margin: 0 auto;
  margin-bottom: 5vh;
  border: none !important;
  background-color: transparent !important;
}

.card__aside {
  margin: 0 auto;
  cursor: pointer;
}

.card__image {
  width: 36vh;
}

.card__header {
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.card__title {
  margin: 0 auto;
  text-align: center;
  max-width: 35vh;
}

.card__subtitle {
  text-align: center;
  margin-top: 2vh;
}

.card__subtitle-money {
  width: 100%;
  z-index: 0;
}

.button-view__container {
  margin: auto;
}

.button-view {
  width: max-content;
  height: 3.5vh;
  border: 1px solid $dark-color;
  border-radius: 0.25rem;
  line-height: 1.5;
  background-color: $primary-dark-color;
  color: $light-color;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }

  .card__image {
    width: 25vh;
  }

  .card__title {
    width: 24vh;
  }
}