.detail-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 3;
  margin-bottom: 10vh;

}

.my-detail {
  display: flex;
  color: $dark-color;
  background-color: transparent;
  width: 114vh;
  max-width: 80%;

  max-height: max-content;
  border-radius: 20px;
  padding: 20px;
  margin-left: 1vh;
  margin-right: 1vh;
  z-index: 5;

  body.dark & {
    color: $light-color;
    background-color: $dark-color;
  }
}

.detail-container--visible {
  opacity: 1;
  visibility: visible;
}

#detail__aside {
  width: 70%;
  height: max-content;
  margin-top: auto;
  margin-bottom: auto;
}

#detail__img {
  max-width: 100%;
  height: auto;
}

#detail__section {
  display: flex;
  flex-direction: column;
  left: 100%;
  top: 100%;
  width: 30%;
  height: 100%;
  align-items: flex-end;
  margin-left: 1vh;
}

.close-detail {
  width: 3.5vh;
  height: 3.5vh;
  border-radius: 0.8vh;
  border-width: 0;
  background-color: $dark-color;
  color: $light-color;
  position: relative;
  bottom: 3vh;
  left: 3vh;

  body.dark & {
    background-color: $light-color;
    color: $dark-color;
  }
}

#detail__header {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: start;
  border: 0;
  border-bottom: 0.3vh;
  border-style: solid;
  border-color: $dark-color;

  body.dark & {
    border-color: $light-color;
  }

  h4 {
    margin: 0;
    margin-bottom: 1vh;
  }

  h5 {
    margin: 0;
    margin-bottom: 3vh;
  }
}

.detail__body {
  max-width: 100%;
  max-height: max-content;
  margin-top: 3vh;
  border: 0;
  border-bottom: 0.3vh;
  border-style: solid;
  border-color: $dark-color;

  body.dark & {
    border-color: $light-color;
  }
}

#detail__sub__body {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  text-align: end;
  flex-wrap: wrap;
  margin-bottom: 3vh;
}

.detail__size {
  min-width: 80%;
  padding: 0;
}

.detail__quantity {
  min-width: 40%;
  padding: 0;
  margin-top: 3vh;
}

#detail__cart {
  text-align: end;
  margin-bottom: 3vh;
}

.add-to-cart {
  width: max-content;
}

#detail__footer {
  display: flex;
  margin-top: 8vh;
}

@media screen and (max-width: 768px) {
  .my-detail {
    flex-wrap: wrap;
    max-height: 93%;
  }

  #detail__aside {
    margin: 0 auto;
    max-width: 49vh;
    width: 100%;
    height: max-content;
  }

  #detail__section {
    width: 100%;
    margin-left: 0;
  }

  .close-detail {
    position: absolute;
    top: 4vh;
    left: 50%;
  }

  .detail__body {
    width: 100%;
  }

  #detail__header {
    h5 {
      margin-bottom: 1vh;
    }
  }

  #detail__sub__body {
    margin-bottom: 1vh;
  }

  .detail__quantity {
    margin-top: 1vh;
  }

  #detail__footer {
    width: 100%;
  }
}