body {
  font-family: $font-family;
  transition: .3s ease all;
  background-color: $light-color !important;
}

#light {
  background-color: $light-color !important;
}

#dark {
  background-color: $dark-color !important;
}